@media only screen and (max-width: 1100px) {
    .top-section {
        gap: 1rem;
        padding: 0 2rem;
    }

    .top-section-image-container {
        max-width: 60%;
        svg {
          max-width: 100%;
        }
    }

    .skills-container {
        width: 600px;
        grid-template-columns: 1fr 1fr;
    }

    .project-container {
        width: 800px;
        padding: 4rem 4rem;
    }

    .arrow-container {
        display: none;
    }

    .contact-inner {
        width: 800px;
    }

    .contact-inner-wrapper {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 900px) {
    .App {
        font-size: 0.8rem;
    }

    .below-top-inner {
        flex-direction: column;
    }

    .project-container {
        width: 650px;
        padding: 3rem;
        flex-direction: column-reverse;
        height: fit-content;
        padding: 2rem 2rem;
        svg {
            display: none;
        }
    }

    .project-container-image {
        img {
            max-width: 50%;
            height: auto;
            top: 0;
        }
    }

    .blob-img {
        height: 430px;
        width: 420px;
    }

    .contact-inner {
        width: 650px;
    }

    .single-project-bottom-inner {
        flex-direction: column;
    }
}

@media only screen and (max-width: 650px) {
    .App {
        font-size: 0.7rem;
    }

    .top-section-inner {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .top-section-image-container {
        max-height: 500px;
        max-width: 90%;
        svg {
            max-width: 100%;
            max-height: 100%;
            transform: translateY(-60px);
          }
    }

    .skills-container {
        width: 300px;
        grid-template-columns: 1fr;
    }

    .project-container {
        width: 100%;
    }

    .project-container-buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .project-container-text {
        width: 100%;
        max-width: 100%;
        padding: 2rem;
    }

    .project-container-image img {
        position: relative;
        max-width: 90%;
    }

    .contact-inner {
        width: 65%;
        min-width: 350px;
    }

    .contact-inner-wrapper {
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
    }

    .contact-svg {
        width: fit-content !important;
        svg {
            max-width: 150px;
        }
        
    }

    .contact-text {
        width: 60%;
    }

    .footer-links {
        flex-direction: column;
        gap: 4rem;
    }
}