.single-project-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.single-project-top-container {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    z-index: 2;
    .project-img {
        height: 100%;
    }
}

.project-container-image {
    video {
        border-radius: 10px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    }
}

.project-video-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}



.single-project-top-inner {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    border-radius: 0.2rem; 
}

.single-project-top-full-width {
    position: relative;
    width: 100%;
    max-width: 1420px;
    height: 100%;
    padding: 4.5rem;
    
}

.single-project-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    hr {
        margin: 1rem 0;
    }
}

.single-project-description-inner {
    width: 800px;
    h2 {
        font-weight: 600;
        margin-bottom: 0.5rem;
    }
}

.single-project-bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 550px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.single-project-bottom-inner {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    height: 90%;
    width: fit-content;
    img, video {
        max-height: 100%;
        border-radius: 10px;
    }
}